@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#card {
  background-image: url('/images/404webp.webp');
  background-size: cover;
  background-position: center;
}
.cardcss {
  @apply bg-gray-700 bg-blend-multiply h-[200px] w-[90vw] md:max-w-[40vw] 
  rounded-sm flex justify-end items-end px-5 text-5xl;
}
